#add{
    background-color: bisque;
    height: 360px;
    width: 560px;
    display: block;
    margin: 20% auto;
    border: 20px solid red;

}

#mensage{
    text-align: center;
    font-size: 24pt;
    top: -20px;
}

/* add real */

#title1{
    display: block;
    margin: 0;
    height: 360px;
    width: 100%;
    background-image:linear-gradient(to bottom left,transparent, burlywood 60%);
    background-size: 100% 360px;
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
    background-position: right 0;
    box-shadow: 0 0 100pt orange;
}

#img{
    display: block;
    margin: 0;
    height: 600px;
    background-size: 100% 360px;
    background-repeat: no-repeat;
    position: relative;
    left: 70%;
    bottom: 50%;
    
}

.fold{
    font-size: 32pt;
    position: absolute;
    top: 110px;
    left: 50px;

}